<div class="container mt-5">
  <div class="row" *ngIf="!loading">
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <app-select
        [data]="categories"
        [title]="'Category :'"
        (selectedData)="receiveSelectedCateg($event)"
      ></app-select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let item of products">
      <app-prod [data]="item" (items)="addtoCart($event)"></app-prod>
    </div>
  </div>
  <div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div>
